
- title 'Timeline Viewer - Index'

.status-index
  .container
    .content
      .row
        .span16
          %table{:class => "condensed-table zebra-striped"}
            %thead
              %tr
                %th No
                %th Created
                %th SN(P)/UID
                %th FF
                %th Text
            %tbody
              - seq = 0
              - @statuses.each do |status|
                - seq += 1
                %tr
                  %td
                    = link_to seq, "http://twitter.com/" + status.screen_name + "/status/" + status.id_str
                  %td
                    = link_to status.created_at.strftime("%Y/%m/%d %X"), edit_status_path(status)
                  %td
                    = link_to status.screen_name, "/statuses?screen_name=" + status.screen_name.to_s unless status.screen_name.nil?
                    = status.protected ? '*' : ''
                    %br
                    = link_to status.uid, "https://twitter.com/" + status.screen_name.to_s unless status.uid.nil?
                  %td
                    - if status.friends_count >= 300 or status.followers_count >= 300
                      = status.friends_count
                      = status.followers_count
                    - else
                      - if status.friends_count >= 100 or status.followers_count >= 100
                        = status.friends_count
                        %b
                          = status.followers_count
                      - else
                        %b
                          = status.friends_count
                          = status.followers_count
                  %td
                    = status.text

          .actions
            = form_for @search, :url => statuses_path, :html => {:method => :get} do |f|
              = f.label "Search"
              = f.text_field :text_contains
              = f.submit "Submit", :class => 'btn primary'

          = will_paginate @statuses, :renderer => BootstrapPaginationRenderer
