- title 'Twitter DB Viewer - Index'

.status-index
  .container
    .content
      .row
        .span16
          %h2 Twitter DB Viewer - Index
          %table{:class => "condensed-table zebra-striped"}
            %thead
              %tr
                %th Seq
                %th Created at
                %th Uid
                %th Screen name
                %th Text
                %th Protected
                %th Friends
                %th Followers
            %tbody
              - seq = 0
              - @statuses.each do |status|
                - seq += 1
                %tr
                  %td
                    = seq
                  %td
                    = link_to status.created_at, edit_status_path(status)
                  %td
                    = link_to status.uid, "/statuses?uid=" + status.uid.to_s unless status.id.nil?
                  %td
                    = link_to status.screen_name, "/statuses?screen_name=" + status.screen_name.to_s unless status.screen_name.nil?
                  %td
                    = status.text
                  %td
                    = status.protected ? '*' : ''
                  %td
                    = status.friends_count
                  %td
                    = status.followers_count

          = paginate @statuses, :window => 5000, :outer_window => 0
